<!DOCTYPE html>
<head>
    <title>Login</title>
</head>
<body>
    <div>
        <label>Email: </label>
        <input type="text" placeholder="Enter Email" name="email" required />
        <label>Password : </label>
        <input
          type="password"
          placeholder="Enter Password"
          name="password"
          required
        />
        <br />
        <a routerLink="/forgotpassword">Forgot password? </a>
        <button routerLink="/login" routerLinkActive="active" type="submit">
          Login
        </button>
        <br />
        <!-- <input type="checkbox" checked="checked" /> Remember me -->
        <!-- <button type="button" class="cancelbtn">Cancel</button> -->
        <!-- Forgot <a href="#"> password? </a> -->
        <!-- Don't have an account  <a href=".">Signup</a> -->
      </div>
    </div>
    <p>Don't have an account <a routerLink="/signup" >Signup</a></p>
  </body>
  

</html>